<div class="card shadow-md">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/images/tektask-logo.webp" alt="Tektask logo" class="w-32 mx-auto me-3">
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link" [href]="item.href">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex">
        <a pRipple class="flex justify-center items-center p-menuitem-link me-3 hover:bg-gray-200 rounded p-3"
          href="/user">
          <i class="pi pi-user"></i>
          <span class="ms-2">Amy Elsner</span>
        </a>
        <button pButton type="button" icon="pi pi-power-off"
          class="p-button-rounded p-button-text me-3 hover:bg-gray-200 rounded p-3" (click)="signOut()">
          <i class="pi pi-sign-out"></i>
          <span class="ms-2">Cerrar sesión</span>
        </button>
      </div>
    </ng-template>
  </p-menubar>
</div>
