<div class="flex items-center justify-center min-h-screen">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
    <img src="assets/images/tektask-logo.webp" alt="Tektask logo" class="w-48 mx-auto mb-6">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label>
        <input id="email" type="email" pInputText class="w-full p-2 border border-gray-300 rounded-md"
          [(ngModel)]="email" name="email" required>
      </div>
      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
        <input id="password" type="password" pInputText class="w-full p-2 border border-gray-300 rounded-md"
          [(ngModel)]="password" name="password" required>
      </div>
      <div class="flex items-center justify-between">
        <button pButton type="submit" label="Login"
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600"></button>
      </div>
    </form>
  </div>
</div>
<p-toast />
