<app-header></app-header>
<main class="me-28 ms-28 mt-4">

  <h1 class="text-3xl mb-4">Listado de usuarios</h1>

  <aside></aside>

  <section class="card mb-4">
    <p-table
    #dt
    [value]="products"
    [paginator]="true"
    [rows]="10"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    [(selection)]="selectedProduct"
    dataKey="code"
    [rowsPerPageOptions]="[10, 25, 50, 100]"

>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1rem"></th>
          <th pSortableColumn="code">
            <span class="flex items-center">Code <p-sortIcon field="code" /></span>
          </th>
          <th pSortableColumn="name">
            <span class="flex items-center">Name <p-sortIcon field="name" /></span>
          </th>
          <th pSortableColumn="category">
            <span class="flex items-center">Category <p-sortIcon field="category" /></span>
          </th>
          <th pSortableColumn="quantity">
            <span class="flex items-center">Quantity <p-sortIcon field="quantity" /></span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="flex items-center justify-center">
            <p-tableRadioButton [value]="product" style="display: flex; border: 1 px solid gray" />
          </td>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>
