<app-header></app-header>
<main class="me-28 ms-28 mt-4">



  <aside class="flex justify-between items-center">
    <h1 class="text-3xl mb-4">Listado de usuarios</h1>
    <div><button type="button" class="text-white bg-blue-700
       hover:bg-blue-800 focus:ring-blue-300
       font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2
       focus:outline-none" (click)="showAdd()">Añadir</button>
    </div>
  </aside>

  <section class="card mb-4">
    <p-table
    #dt
    [value]="users"
    [paginator]="true"
    [rows]="10"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    [(selection)]="selectedUser"
    dataKey="code"
    [rowsPerPageOptions]="[10, 25, 50, 100]"

>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1rem"></th>
          <th pSortableColumn="id">
            <span class="flex items-center">Id <p-sortIcon field="id" /></span>
          </th>
          <th pSortableColumn="nombre">
            <span class="flex items-center">Nombre y Apellidos <p-sortIcon field="nombre" /></span>
          </th>
          <th pSortableColumn="correo">
            <span class="flex items-center">Correo <p-sortIcon field="correo" /></span>
          </th>
          <th>
            <span class="flex items-center">Rol</span>
          </th>
          <th pSortableColumn="fecha_creacion">
            <span class="flex items-center">Fecha de creación <p-sortIcon field="fecha_creacion" /></span>
          </th>
          <th pSortableColumn="activo">
            <span class="flex items-center">Activo <p-sortIcon field="activo" /></span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td class="flex items-center justify-center">
            <p-tableRadioButton [value]="user.id" />
          </td>
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.correo }}</td>
          <td>{{ getRoleName(user.rol_id) }}</td>
          <td>{{ user.fecha_creacion }}</td>
          <td>{{ user.activo ? '✅ Sí' : '❌ No' }}</td>
        </tr>
      </ng-template>
    </p-table>
    <app-users-modal></app-users-modal>
  </section>
</main>
